.main-content {
    margin-left: 200px;
}

.main-content-collapsed {
    margin-left: 64px;
}

.create-position-button {
    font-size: 2em !important;
}

i.icon.remove-position-button {
    margin-left: 1em;
    margin-top: 20px;
    font-size: 2em;
}

.model-display-text {
    padding: 8px 0;
}

.iteration-value-text {
    height: 2em;
    vertical-align: middle;
    line-height: 2em;
    border: 1px solid #1b1c1d;
    text-align: center;
}

.iteration-item.iteration-display {
    margin-top: 0;
}

.model-detail-display .ant-tree li .ant-tree-node-content-wrapper {
    margin-top: 6px;
}

.model-creator-avatar.ui.avatar.image {
    height: 60px;
    width: 60px;
    margin-right: 1em;
}

.model-creator-name {
    font-size: 1.5em;
    font-weight: bold;
}

.model-creator-company {
    color: #999a9b;
}

.sort-text {
    font-size: 2.5em;
}

.sort-color-1 {
    color: #f5d93e;
}

.sort-color-2 {
    color: #d9dbee;
}

.sort-color-3 {
    color: #ef9f45;
}

.sort-color-other {
    color: #8a8a8a;
}

.ant-layout {
    background-color: #f8f8f8;
}

.ui.image.menu-icon {
    height: 20px;
    width: 20px;
}

.ant-menu-item,
.sub-menu-title {
    display: flex;
    align-items: center;
}

.work-content {
    padding: 20px;
}

.first-header {
    font-size: 18px;
    font-weight: normal;
    border: none;
    color: #333333;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    line-height: 1;
}

.ui.modal > .header,
.ui.large.modal > .header,
.ui.modal > .header:not(.ui),
.project-header {
    font-size: 18px;
    display: flex;
    line-height: 1;
    align-items: center;
    font-weight: normal;
    padding: 20px;
    border: none;
    color: #333333;
}

.modal-title-border {
    border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
}

.ui.modal > .content {
    padding: 0 20px;
}

.ui.modal > .content > .description {
    padding: 14px 20px;
    background: rgba(113, 129, 173, 0.7);
    border: 1px solid rgb(113, 129, 173);
}

.model-container {
    padding: 0 20px 20px 20px;
}

.model-second-header {
    margin: 20px 0 10px;
    font-size: 14px;
    color: #666666;
}

.ui.modal > .actions {
    background-color: #ffffff;
}

.modal-description {
    font-size: 14px;
    padding: 14px 20px;
    background: rgba(113, 129, 173, 0.7);
    border: 1px solid rgb(113, 129, 173);
}

.modal-header {
    display: flex;
    line-height: 1;
    align-items: center;
}

.table-action-cell {
    display: flex;
    justify-content: center;
}

.add-department-content {
    display: flex;
}

.add-department-content > .full-width {
    padding: 0;
    margin: 0;
    flex: 1;
}

.table-action-edit {
    font-size: 14px;
    color: #577ca6;
    cursor: pointer;
}

.table-action-delete {
    font-size: 14px;
    color: #c35f57;
    cursor: pointer;
}

.create-button.ui.button {
    background-color: #66a6ff;
    border: 2px solid #4393fd;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: -50px;
}

.model-main-container {
    position: relative;
}

.sider-menu {
    position: fixed;
    flex: 0 0 200px !important;
    max-width: 200px !important;
    min-width: 200px !important;
    width: 200px !important;
    top: 64px;
    bottom: 0;
}

.ant-layout-sider.sider-menu {
    /*background: linear-gradient(to bottom, #22315b, #577ca6);*/
    background: #ffffff;
}

.sider-menu .ant-menu-dark {
    background: transparent;
}

.selected-host-menu > .ant-menu-submenu-title,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background: linear-gradient(to right, #66a6ff, #7cd6ef);
}

.menu_icon_text {
    display: flex;
    align-items: center;
}

.sider-menu .ant-menu-inline .ant-menu-sub .ant-menu-item {
    padding: 0 35px !important;
}

.ant-layout-content {
    position: relative;
    margin-left: 200px;
    margin-top: 64px;
}

.ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    background: linear-gradient(to right, #66a6ff, #7cd6ef);
    padding: 0 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.menu-user-avatar.ui.avatar.image {
    width: 80px;
    height: 80px;
    margin: 35px 60px;
}

.log-out-button {
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.org-tree {
    width: 310px;
    border-right: 1px solid #dddddd;
}

.org-tree ul {
    padding-left: 20px;
    list-style: none;
}

.org-tree ul:first-child {
    padding-left: 0;
}

.org-tree ul li > div {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.org-name {
    padding-left: 15px;
}

.org-selected {
    background-color: #666666;
}

.org-expand-icon {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    margin-left: -8px;
    font-size: 18px;
    transform: rotate(0deg);
    transition: All 0.3s ease-in-out;
}

.org-expanded.org-expand-icon {
    transform: rotate(90deg);
    transition: All 0.3s ease-in-out;
}

.add-org-icon {
    position: absolute;
    right: 20px;
    color: #ffffff;
    font-size: 23px;
    transform: rotate(0deg);
    transition: All 0.3s ease-in-out;
}

.remove-org-icon.add-org-icon {
    transform: rotate(45deg);
    transition: All 0.3s ease-in-out;
}

.org-item:hover {
    background-color: #8a8a8a;
}

.org-tree .add-org-box {
    cursor: default;
    padding: 5px 0 0 45px;
    display: flex;
}

.org-container {
    border-top: 1px solid #dddddd;
    display: flex;
}

.org-info {
    flex: 1;
}

.org-info-detail {
    padding: 10px 20px;
}

.org-nav-button {
    padding: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}

.org-tree-select .org-tree {
    width: auto;
    border: none;
}

.org-check-box {
    margin-left: 20px;
}

.stage-basic-task {
    padding-bottom: 10px;
}

.stage-com-item {
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

.stage-com-item:last-child {
    border-bottom: none;
}

.stage-com-title {
    margin-right: 10px;
}

.stage-com-text {
    margin: 0 10px;
}

.stage-com-input {
    margin: 0 10px;
}

.stage-com-line {
    margin-bottom: 15px;
}

.table-action-cell > div {
    margin-left: 20px;
}

.table-action-cell > div:first-child {
    margin-left: 0;
}

.comm-list {
    margin: 0 -20px;
}

.ui.table {
    border-left: none;
    border-right: none;
}

.sider-menu .ant-menu-inline .ant-menu-item {
    margin: 15px 0;
    padding: 10px 20px !important;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
}

.sider-menu .ant-menu-inline .ant-menu-submenu-title {
    margin: 0;
    padding: 10px 20px !important;
    font-size: 14px;
    line-height: 0;
    height: auto;
    border-radius: 10px;
}

.ant-menu.ant-menu-inline.ant-menu-root {
    padding: 0 10px;
    border-right: none;
}

.ant-menu-inline .ant-menu-item:after {
    border-right: none;
}

.sider-menu .ant-menu-inline .ant-menu-sub .ant-menu-item.ant-menu-item-selected {
    background: #ffffff;
}

.selected-host-menu,
.ant-menu-item-selected {
    color: #ffffff;
}

.selected-host-menu .ant-menu-submenu-arrow:after,
.selected-host-menu .ant-menu-submenu-arrow:before,
.selected-host-menu .ant-menu-submenu-arrow:hover {
    background: #ffffff !important;
}

.ant-menu-item > a {
    color: #cccccc;
}

.ant-menu-item-selected > a {
    color: #333333;
}