.components-item {
    margin-top: 20px;
    position: relative;
}

.components-length {
    width: 80% !important;
}

.input-label:after {
    margin: -.2em 0 0 .2em;
    content: '*';
    color: #db2828;
}

.ui.form textarea.components-error,
.ui.selection.dropdown.components-error,
.components-error .ant-calendar-picker-input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ant-input {
    height: 38px;
    font-size: 14px;
    padding: 4px 15px;
}

.ant-calendar-range-picker-input {
    font-size: 14px;
}

.ant-calendar-picker-icon:after {
    font-size: 18px;
}

.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.ant-input:focus,
.ant-input:hover {
    border-color: rgba(34, 36, 38, .35) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.components-error .ant-calendar-picker-icon:after,
.components-error .ant-picker-icon:after {
    color: #9f3a38;
}

.item-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.item-horizontal h4.ui.header {
    margin: 0;
    padding: 8px 20px 8px 0;
}

.align-right {
    justify-content: flex-end;
}

/*.ui.selection.dropdown {
    flex: 1;
}*/

.ui.fluid.input {
    flex: 1;
}

.ui.horizontal.list > .item {
    margin-left: 0;
    margin-right: 1em;
}

.display-file .ant-upload-list-item .anticon-cross {
    font-size: 0;
}

.e-chart-component {
    height: 100%;
    width: 100%;
}

.ant-back-top {
    right: 50px;
    bottom: 50px;
}

.carousel-segment-outer {
    padding: 0 !important;
}

.carousel-button {
    width: 100%;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.carousel-button-up {
    border-top: 0;
}

.carousel-button-down {
    border-bottom: 0;
}

.pointer-cursor {
    cursor: pointer !important;
}

.discussion-comment-link {
    color: blue;
    padding: 20px 14px;
    display: inline-block;
}

.comment-footer {
    margin-top: 1.5em;
    text-align: right;
}

.ui.button.comment-action-button {
    margin-top: 0.5em;
    margin-left: 1em;
}

.mention-reply {
    color: rgba(0, 0, 0, .4);
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.ant-mention-wrapper .DraftEditor-editorContainer .public-DraftEditor-content {
    min-height: 100px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    background: #ffffff;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.list-no-file {
    padding-top: 5em;
}

.upload-multi .ant-upload.ant-upload-select {
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.upload-multi .ui.button {
    width: 100%;
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.upload-multi .ant-upload-list {
    display: none;
}

.upload-multi .ant-carousel .slick-slider .slick-list {
    height: calc(20vw - 5em);
}

.upload-multi .ant-carousel .slick-dots {
    bottom: -0.5em;
}

.upload-multi .ant-carousel .slick-dots li button {
    background: #000;
}

.upload-multi .ant-carousel .slick-slide img {
    height: calc(20vw - 6em);
    width: 100%;
}

.upload-multi .list-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.upload-multi .list-content {
    position: relative;
}

.upload-multi .list-action-icon {
    font-size: 3em;
    color: #ffffff;
    opacity: 0.9;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.upload-multi a {
    text-decoration: none;
}

.upload-multi .list-content:hover .list-actions-content {
    opacity: 1;
}

.upload-multi .list-actions-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
    white-space: nowrap;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.charts-progress-component {
    height: calc(19vw);
    width: 100%;
}

.charts-progress-edit-icon {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.progress-component {
    display: flex;
}

.progress-component .ui.progress {
    flex: 1;
    height: 2em;
}

.progress-component .ui.progress:first-child {
    margin: 0;
}

.progress-component .ui.progress .bar {
    height: 100%;
}

.progress-edit-icon {
    margin-left: 1em;
}

.upload-progress-top {
}

.upload-progress-bar {
    position: relative;
    width: 100%;
    margin-top: 1em;
}

.upload-progress-top .upload-multi .ant-upload.ant-upload-select {
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.upload-progress-top .upload-multi .ant-carousel .slick-slide img {
    height: calc(20vw - 9.5em);
}

.upload-progress-top .upload-multi .ant-carousel .slick-slider .slick-list {
    height: calc(20vw - 8.5em);
}

.mv-slider-container {
    display: flex;
}

.slider-container {
    flex: 1
}

.link {
    color: blue;
    cursor: pointer !important;
}

.dialog {
    width: 50%;
    left: 25%;
}

.ui.segment.dialog {
    padding: 1rem 0 0 0;
}

.ui.header.dialog-header {
    text-align: left;
    padding-left: 1rem;
}

.dialog-content {
    padding: 1rem 1rem 2rem 1rem;
    color: #000000;
    text-align: left;
}

.dialog-footer {
    background: #f9fafb;
    padding: 1rem;
    border-top: 1px solid rgba(34, 36, 38, .15);
    text-align: right;
}

.modal-component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
}

.pre-line {
    white-space: pre-line;
}

.display-flex {
    display: flex;
    align-items: center;
}

.ui.form .field .ui.input.error input {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui.avatar.image.header-avatar {
    height: 2em;
    width: 2em;
}

.ui.center.aligned.header.common-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

i.icon.select-delete-icon {
    cursor: pointer;
    position: absolute;
    width: auto;
    height: auto;
    line-height: 1.21428571em;
    top: .78571429em;
    right: 1em;
    z-index: 3;
    margin: -.78571429em;
    padding: .91666667em;
    opacity: .8;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
    backface-visibility: hidden;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

img.ui.image.logon-back-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.input-content,
.input-content.ui.basic.table,
.input-content.ui.form,
.input-content.ui.selection.dropdown,
.input-content.ui.input {
    width: 70%;
}

.full-width.ui.selection.dropdown,
.full-width.ui.input {
    width: 100%;
}

img.ui.image.mv-image {
    display: inline-block;
    margin-right: 10px;
}

.ant-calendar-range-picker-separator {
    line-height: 28px;
}

.field-title {
    margin-right: 20px;
    font-size: 14px;
    color: #666666;
}

.cancel-button.ui.button {
    background-color: #eeeeee;
    border: 2px solid #dddddd;
    color: #666666;
    margin-right: 30px;
}

.confirm-button.ui.button {
    background-color: #577ca6;
    border: 2px solid #3d5f91;
    color: #fffefe;
}

.delete-button.ui.button {
    background-color: #ffffff;
    border: 2px solid #c35f5c;
    color: #c35f5c;
    margin-left: 20px;
    font-size: 14px;
}

.ui.modal .actions > .button {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 30px;
}

.tag-style {
    padding: 5px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.tag-style.tag-selected {
    color: #ffffff;
}

.tag-style-default, .tag-style-1 {
    background-color: rgba(130, 114, 174, 0.5);
    border: 2px solid transparent;
    color: #725cae;
}

.tag-style-default.tag-selected, .tag-style-1.tag-selected {
    background-color: rgba(114, 92, 174, 1);
    border: 2px solid rgba(50, 35, 93, 1);
}

.tag-style-2 {
    background-color: rgba(195, 122, 120, 0.5);
    border: 2px solid transparent;
    color: #c35f5c;
}

.tag-style-2.tag-selected {
    background-color: rgba(195, 95, 92, 1);
    border: 2px solid rgba(135, 42, 40, 1);
}

.tag-style-3 {
    background-color: rgba(195, 154, 120, 0.5);
    border: 2px solid transparent;
    color: #d4865b;
}

.tag-style-3.tag-selected {
    background-color: rgba(212, 134, 91, 1);
    border: 2px solid rgba(135, 84, 40, 1);
}

.tag-style-4 {
    background-color: rgba(104, 163, 169, 0.5);
    border: 2px solid transparent;
    color: #51a1a9;
}

.tag-style-4.tag-selected {
    background-color: rgba(81, 161, 169, 1);
    border: 2px solid rgba(25, 77, 82, 1);
}

.tag-style-5 {
    background-color: rgba(165, 190, 117, 0.5);
    border: 2px solid transparent;
    color: #a5be75;
}

.tag-style-5.tag-selected {
    background-color: rgba(156, 190, 90, 1);
    border: 2px solid rgba(95, 126, 37, 1);
}

.tag-style-6 {
    background-color: rgba(180, 110, 155, 0.5);
    border: 2px solid transparent;
    color: #b46e9b;
}

.tag-style-6.tag-selected {
    background-color: rgba(180, 85, 147, 1);
    border: 2px solid rgba(104, 31, 79, 1);
}

.tag-style-7 {
    background-color: rgba(113, 129, 173, 0.5);
    border: 2px solid transparent;
    color: #7181ad;
}

.tag-style-7.tag-selected {
    background-color: rgba(92, 114, 173, 1);
    border: 2px solid rgba(34, 49, 91, 1);
}

.ui.horizontal.list > .item {
    padding: 0 !important;
}

.file-name {
    padding: 10px 26px;
    font-size: 14px;
    color: #999999;
    background-color: #f5f5f5;
    border: 2px solid #eeeeee;
}

.file-delete-button {
    padding: 8px;
    cursor: pointer;
}

.file-item {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}

.ui.button {
    padding: 10px 14px;
    font-size: 14px;
}

.ui.table tbody .discussion-row td {
    margin: 0;
    padding: 0;
}

.ui.comments {
    margin: 0;
    padding: 10px;
    max-width: none;
    border-top: 1px solid #eeeeee;
}

.ui.comments .comment {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.ui.comments .comment .actions {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.ui.comments .comment .actions a {
    margin-right: 24px;
}

.ui.comments .comment .avatar {
    width: 40px;
    height: 40px;
}

.ui.comments .comment .avatar img {
    border-radius: 50%;
}

.ui.comments .comment > .avatar ~ .content {
    margin-left: 50px;
}

.ui.comments .comment .metadata {
    margin-left: 0;
    font-size: 12px;
    color: #999999;
}

.ui.comments .comment .author {
    font-size: 12px;
    color: #4481eb;
}

.ui.input input {
    padding: 10px 15px;
}

.ui.table thead th,
.ui.table tbody td {
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    color: #111111;
    padding: 20px 14px;
}

.ui.table tfoot th {
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    padding: 20px 14px;
}

.ui.modal > .actions {
    padding: 20px;
}

.ui.active.selection.dropdown {
    border-radius: 4px;
}

.select-top-position > .ui.active.selection.dropdown {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.ui.selection.dropdown .menu {
    border-radius: 0 0 4px 4px;
}

.select-top-position > .ui.selection.dropdown .menu {
    border-radius: 4px 4px 0 0 !important;
    border-bottom-width: 0 !important;
    border-top-width: 1px !important;
    box-shadow: 0 -2px 3px 0 rgba(34, 36, 38, .15) !important;
}